body {
	font-weight: 100;
	font-family: 'Roboto';
}


.mdl-layout__drawer-button {
    border: 0 none;
    cursor: pointer;
    display: block;
    flex-shrink: 0;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 5px !important;
    height: 45px !important;
    left: 10px !important;
    overflow: hidden;
    text-align: center;
    top: 10px !important;
    width: 35px !important;
    z-index: 4;
}

#status-bar {
	height:20px;
	  background: rgb(230, 10, 85) none repeat scroll 0 0;	
	  position:absolute;
	  top:0;
	  left:0;
}

.mdl-layout__drawer-button .material-icons {
    font-size: 25px !important;
    margin-top: 10px !important;
}
.demo-card-wide.mdl-card {
  width: 100%;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('office.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
.mdl-layout__drawer{
 
}

.demo-card-wide a{
	display:block;
}
#right_btn {
    position: absolute;
    top: 20px;
    right: 15px;
}

div#swipe_menu {
    display: block;
    width: 90%;
    height: 56px;
}
span#top_title {
    text-align: center;
    margin: 20px 10px;
    font-size: 30px;
}
 

section {
	padding:20px;
	
}

h1 {
    font-size: 28px !important;
    letter-spacing: -0.02em;
    line-height: 1.35;
    margin: 24px 0;
}
















